/* Smartphones (portrait) */
@media only screen and (max-width: 425px) {
  /* Styles */
  section.passion.container-xxl {
    padding: 0px 0px;
  }
  section.hero.container-xxl {
    padding: 50px 0;
  }
  section.passion.container-xxl h2 {
    padding-bottom: 50px;
  }
  section.portfolio.container-xxl h2 {
    padding-bottom: 50px;
  }
  section.portfolio.container-xxl {
    padding: 50px 10px;
  }
  section.contact.container-xxl {
    padding: 50px 0;
  }
  .navbar-light .navbar-brand {
    font-size: 20px;
  }
}
/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  ul.navbar-nav.ms-auto {
    gap: 15px;
  }
  section.passion.container-xxl {
    padding: 20px 0px;
  }
  section.portfolio.container-xxl {
    padding: 0px 0px;
  }
  section.footer.container-xxl {
    padding-top: 100px;
  }
}

/* Desktops and laptops  */
@media only screen and (min-width: 1224px) {
  /* Styles */
}


